<div style="display:flex;margin-top: 20px;">
  <div class="submit_item" style="margin-right:55%;">
  <button id="add_file">Add file</button>
  </div>
  <div class="submit_item">
    <button class="create_gist" style="
    background-color: #e6e1c0;
    background-image: linear-gradient(#fffad5,#e6e1c0);
    border-color: #e3deb9;
    ">Create secret gist</button>
  </div>
  <div class="submit_item">
    <button class="create_gist">Create public gist</button>
  </div>
</div>
